<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SFP Donations</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
    <center class="container" id="container">
        <!-- Donation form container -->
        <div class="form-container" v-if="formDisplayed">
            <img class="icon" src="images/sfp-logo.png">
            <h1>Donate to <br> Strike Force Phoenix</h1>
            <money class="donation-amount" v-bind="moneyFormat" v-model="amount" v-bind:disabled="locked"></money>
            <br>
            <span class="anonymous-toggle-group">
                <input type="checkbox" id="anonymous-donation" v-model="anonymous">
                <label for="anonymous-donation">I want to donate anonymously</label>
            </span>
            <a class="discord" v-bind:disabled="anonymous || locked" v-on:click="openDiscordPopout()">
                <img v-bind:src="authorised && discordAvatar ? discordAvatar : 'images/discord-logo-white.svg'" v-bind:style="authorised && discordAvatar ? 'border-radius: 50%' : ''">
                <span v-text="authorised && discordName ? 'Authorised as ' + discordName : 'Authorise with Discord'"></span>
            </a>
            <br>
            <a class="paypal" v-bind:disabled="!anonymous && !authorised || locked" v-on:click="openPaypalPopout()">
                <span>Donate with</span>
                &nbsp;
                <img src="images/paypal-logotype.svg">
            </a>
            <br>
            <div class="flip-button" v-on:click="formDisplayed = !formDisplayed">
                <img src="images/flip.svg">
            </div>
        </div>
        <!-- Funding progress container -->
        <div class="progress-container" v-if="!formDisplayed">
            <span class="heading"  v-on:click="donationProgressDollars = !donationProgressDollars">Funding Progress</span>
            <!-- Wrap the progress bar so we can catch the click event -->
            <span v-on:click="donationProgressDollars = !donationProgressDollars" style="width: 100%; cursor: pointer;" v-bind:title="formatFee(donationFees)">
                <vue-simple-progress
                class="funding-progress-bar"
                size="huge"
                v-bind:val="(donationBalance / donationTarget) * 100"
                max="100"
                bar-color="#4ece20"
                bg-color="#f5f5f5"
                v-bind:text="donationProgressDollars ? $options.filters.currency(donationBalance) : Math.floor((donationBalance / donationTarget) * 100) + '%'"
                text-position="inside"
                font-size="10"
                text-fg-color="#000">
                </vue-simple-progress>
            </span>
            <span class="heading">This month's top donors</span>
            <div class="donor" v-for="donor in donationLeaderboard">
                <img v-bind:src="donor.avatar">
                <div class="name">{{donor.name ? donor.name : 'Anonymous donors'}}</div>
                <span class="total" v-bind:title="formatFee(donor.fees)">{{donor.total | currency}}</span>
                <vue-simple-progress
                    class="progress-bar"
                    size="50"
                    v-bind:val="donor.total / donationBalance * 100"
                    max="100"
                    bar-color="#e0e0e0"
                    bg-color="#f5f5f5">
                </vue-simple-progress>
                <br>
            </div>
            <br>
            <div class="flip-button" v-on:click="formDisplayed = !formDisplayed">
                <img src="images/flip.svg">
            </div>
        </div>
        <span class="footer">
            <!-- Made with ❤️ by <a href="https://github.com/thomotron">Thomotron</a> -->
        </span>
    </center>
    <script src="scripts/vue.js"></script>
    <script src="scripts/vue-resource.min.js"></script>
    <script src="scripts/v-money.js"></script>
    <script src="scripts/vue-simple-progress.min.js"></script>
    <script src="scripts/vue2-filters.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
